# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore dependency directories
coverage/
__pycache__/
*.egg-info/

# Ignore build files
build/
dist/

# Ignore temporary files
*.tmp
*.swp

# Ignore the .env file in the top-level directory
.env
